@model Semestralna_praca_VAII.Models.Cart


@{
    ViewData["Title"] = "Zhrnutie";
}

<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="~/Assets/logo.png" alt="" width="200" height="120">
            <h2>Zhrnutie </h2>
            <p class="lead"></p>
        </div>
        @{ int pocet = 0;}
        @foreach (var item in Model.eventList)
        {
            { pocet = pocet + item.amount; }

        }
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Váš košík</span>
                    <span class="badge badge-secondary badge-pill"> @pocet </span>
                </h4>
                <ul class="list-group mb-3">

                    @{ double suma = 0;}
                    @foreach (var item in Model.eventList)
                    {
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">@item.addedItem.name</h6>
                                <small class="text-muted">Krátky popis</small>
                            </div>
                            <span class="text-muted">@item.addedItem.price €</span>
                            @{suma += @item.addedItem.price * @item.amount;}
                        </li>
                    }

                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Spolu (EUR)</span>
                        <strong>@suma €</strong>
                    </li>
                </ul>

            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Adresa</h4>
                <form class="needs-validation" novalidate="">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Meno</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Priezvisko</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="username">Prihlasovacie meno</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"></span>
                            </div>
                            <input type="text" class="form-control" id="username" placeholder="Prihlasovacie meno" required="">
                            <div class="invalid-feedback" style="width: 100%;">
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email <span class="text-muted">(Voliteľné)</span></label>
                        <input type="email" class="form-control" id="email" onchange="validate()" placeholder="tvojLogin@azet.sk">
                        <h5 id='result'></h5>
                        <div class="invalid-feedback">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address">Addresa</label>
                        <input type="text" class="form-control" id="address" placeholder="Sládkovičova 34" required="">
                        <div class="invalid-feedback">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address2">Addresa 2 <span class="text-muted">(Voliteľné)</span></label>
                        <input type="text" class="form-control" id="address2" placeholder="Číslo izby (voliteľné)">
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="country">Krajina</label>
                            <select class="custom-select d-block w-100" id="country" required="">
                                <option value="">Vyberte krajinu...</option>
                                <option>Slovensko</option>
                                <option>Česko</option>
                            </select>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="state">Kraj</label>
                            <select class="custom-select d-block w-100" id="state" required="">
                                <option value="">Vyberte kraj...</option>
                                <option>Žilinský</option>
                            </select>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="zip">PSČ</label>
                            <input type="text" class="form-control" id="zip" placeholder="" required="">
                            <div class="invalid-feedback">
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="same-address">
                        <label class="custom-control-label" for="same-address">Adresa odosielateľa je rovnaká ako fakturačná</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="save-info">
                        <label class="custom-control-label" for="save-info">Uložiť informácie do budúcna</label>
                    </div>
                    <hr class="mb-4">

                    <h4 class="mb-3">Platba</h4>

                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                            <label class="custom-control-label" for="credit">Kreditná karta</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
                            <label class="custom-control-label" for="debit">Debetná karta</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                            <label class="custom-control-label" for="paypal">PayPal</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="cc-name">Meno a priezvisko na karte</label>
                            <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                            <small class="text-muted">V rovnakom tvare ako na karte</small>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="cc-number">Číslo kreditnej karty</label>
                            <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                            <div class="invalid-feedback">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="cc-expiration">Dátum expirácie</label>
                            <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cc-cvv">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                            <div class="invalid-feedback">
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Zaplatiť</button>
                </form>
            </div>
        </div>
    </div>
        <script>

   function validateEmail(email) {
       var re = /^(([^<>()[\]\\.,;:\s@("@")\"]+(\.[^<>()[\]\\.,;:\s@("@")\"]+)*)|(\".+\"))@("@")((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

       return re.test(email);
}

function validate() {
    var $result = $("#result");
    console.log(result);
    var email = $("#email").val();
    console.log(email);
    $result.text("");

    if (validateEmail(email)) {
      console.log("Validacia prebehla uspesne");
    $result.text(email + " je valídna");
    $result.css("color", "green");
    } else {
        console.log("Validacia neuspesna");
    $result.text(email + " nie je valídna");
    $result.css("color", "red");
  }
  return false;
}

$("#validate").on("click", validate);
        </script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script src="form-validation.js"></script>

</body>

